.search__label {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 16;
  font-weight: 600;
}

.search__label input {
  height: 25px;
  width: 250px;
  font-size: 16;
  font-weight: 600;
  margin: 10px;
}
